.eric{
    font-family: "Comic Sans MS", serif;
    font-size: 100px;
    background-color: coral;
}
.cunt{
    font-family: "Comic Sans MS", serif;
    font-size: 100px;
    background-color: coral;
}
.white{
    font-family: cursive;
    font-size: 75px;
    background-color: white;
}