.eric{
    font-family: "Comic Sans MS", serif;
    font-size: 100px;
    background-color: coral;
}
.cunt{
    font-family: "Comic Sans MS", serif;
    font-size: 100px;
    background-color: coral;
}

.footer{
    font-family: "Comic Sans MS", serif;
    font-size: 80px;
    background-color: coral;
}
.white{
    font-family: cursive;
    font-size: 75px;
    background-color: white;
}

.invite{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: darkcyan;
}